@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  background-color: black !important;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.nav-item:hover{
  color: #e50914;
}

.fixed {
  width: 100%;
  position: relative;
  top: 0;
  z-index: 100;
}

.navbar {
  background: #0f0f0f !important;
}

.banner {
    height: 100vh;
    width: 100%;
    border: none;
}

.banner::before{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
}

.banner-info{
  width: 40%;
  margin-left: 30px;
  z-index: 1;
}

.banner-content {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 60%;
  right: 10%;
}

.banner-content h1 {
  font-size: 70px;
  color: #dc143c;
  font-family: "Chelsea Market", cursive;
}

.banner-content span {
  font-size: 20px;
  color: #fff;
  font-family: "Chelsea Market", cursive;
}

.white-font {
  color: #fff;
}

.card {
  border: 5px solid yellow;
  width: 300px;
  height: 166px !important;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  background-size: cover;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  border: none !important;
  transition: 0.5s;
}

.overlay {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background: rgba(43, 41, 41, 0.9);
    color: white;
    opacity: 0;
    transition: all 0.5s;
    font-family: "Playfair Display", serif;
}

.card:hover .overlay{
  opacity: 1;
}

.movie-container {
  width: 80%;
  margin: 0 auto;
}

.movie-slider-container{
  margin-bottom: 40px;
}